.input {
  @apply flex flex-col mb-5 relative;

  &__field {
    @apply pt-[18px] text-[20px] bg-inherit border-b border-b-secondary transition-[border] duration-200 focus:outline-none focus:border-b-primary;
    border-color: #cccccc;
    &:focus + label {
      @apply text-primary;
    }
    &:placeholder-shown + label{
      @apply top-3 opacity-0;
    }

    &-textarea {
      @apply min-h-[300px];
    }
  }

  &__label {
    @apply absolute top-0 left-0 text-sm transition-[color,opacity,top] duration-200;
    color: #999;
  }
}
