.about {
  @apply container flex gap-y-8 gap-x-4 max-md:flex-col md:flex-wrap ;

  &__article {
    @apply md:even:basis-[calc(52%_-_(16px/2))] md:last-of-type:order-last;

    &-title {
      @apply mb-2.5 text-lg font-semibold;
    }

    &-detail {
      @apply mb-4;
    }
  }

  &__photo {
    @apply flex justify-center items-center md:odd:basis-[calc(48%_-_(16px/2))];
  }

  &__illustrate {
    @apply md:odd:basis-[calc(48%_-_(16px/2))];
  }

}

.socialmedia {
  @apply grid gap-2.5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3;
  &__list {
    &-link{
      @apply flex items-center capitalize font-semibold h-10 bg-secondary text-white;

      &:hover img {
        @apply ml-3.5 -mr-0.5;
      }
    }
    &-image {
      @apply p-2 transition-[margin] duration-300 ease-out;
    }
  }
}
