.thumbnail {
  @apply w-52 min-h-[200px] my-4 mx-10 px-2.5 pt-2.5 border rotate-12 transition-transform duration-500;
  &:hover {
    @apply rotate-0;
  }

  &__image {
    @apply w-full;
  }

  &__title {
    @apply text-center my-1.5;
  }
}
