.timeline {
  @apply relative;
  // &::before {
    // @apply content-[''] w-1.5 h-full absolute right-0 left-0 bg-primary m-auto mx-auto -z-10;
  // }

  &__item {
    @apply relative w-full mb-5 grid gap-x-3 xs:gap-x-6 gap-y-2.5 grid-cols-1 xs:grid-cols-[80px_24px_1fr] md:grid-cols-[1fr_24px_1fr];

    &:first-child > button::before {
      @apply content-none;
    }
    &:not(:last-child):after {
      @apply content-[''] w-0.5 h-full bg-gray-300 absolute top-6 left-0 xs:max-md:left-[115px] right-0 xs:max-md:right-auto mx-auto -z-10;
    }

    &-button {
      @apply bg-primary relative flex justify-center justify-self-center items-center text-white text-xl font-bold rounded-full w-6 h-6 cursor-pointer z-10 xs:mt-3;

      &::before {
        @apply content-[''] w-0.5 h-full bg-gray-300 absolute left-0 right-0 bottom-full mx-auto;
      }
    }

    &-date {
      @apply grid grid-cols-[1fr_auto_1fr] xs:grid-cols-[1fr_auto] gap-x-1 justify-items-center justify-self-center bg-white group-even:text-right md:group-odd:order-1 z-20;
    }
  }

  &-button {
    // @apply order-3;
  }
}

.bubble {
  @apply bg-neutral-100 relative border border-neutral-300 rounded px-5 pt-2.5 pb-3 md:group-odd:-order-1;

  &:after,
  &:before {
    @apply content-[''] h-0 w-0 absolute left-0 xs:left-auto md:group-odd:left-full right-0 xs:right-full xs:top-0 bottom-full xs:bottom-0 m-auto border border-solid border-transparent;
  }
  &:after {
    @apply mt-1 xs:mt-4 border-b-neutral-100 xs:border-b-transparent xs:border-r-neutral-100 md:group-odd:border-l-neutral-100 md:group-odd:border-r-transparent;
    border-width: 7px;
  }
  &:before {
    @apply mt-[3px] xs:mt-[15px] border-b-neutral-300 xs:border-b-transparent xs:border-r-neutral-300  md:group-odd:border-l-neutral-300 md:group-odd:border-r-transparent;
    border-width: 8px;
  }

  &__header {
    @apply flex justify-between items-baseline; // pb-2.5;

    &-title {
      @apply text-primary text-2xl font-bold;
    }

    &-location {
      @apply text-xs;
    }

    // &-company {}
  }

  &__body {
    @apply mt-2 pt-2 border-t hidden;
    &-active {
      @apply block;
    }
  }
}
