.contact {
  @apply flex flex-col mx-5 items-center;
  &:hover {
    .contact__icon {
      @apply shadow-[0_0_0_7px_#ffffff,0_0_0_8px_#e16d65];
    }
    .contact__item {
      @apply pb-1 mb-0 border-b-primary;
    }
    .contact__icon-mobile {
      @apply animate-shaking;
    }
    .contact__icon-envelop {
      @apply overflow-visible scale-110 translate-y-[0.3125rem];
    }
    .contact__icon-open {
      @apply -scale-y-100;
    }
  }

  &__icon {
    @apply w-[120px] h-[120px] rounded-full bg-primary flex items-center justify-center transition-shadow duration-[0.275s] ease-in-out;

    &-envelop {
      @apply transition-transform duration-500 ease-in-out;

    }

    &-open {
      @apply transition-transform duration-500 ease-in-out;
    }
  }

  // TODO line-height
  &__item {
    @apply text-primary font-medium mt-2.5 mb-1 border-b border-b-transparent transition-[margin,padding,border-color] duration-[0.275s] ease-in-out;
  }
}  

.form {
  @apply p-7 border border-secondary backdrop-blur-sm bg-white/90;
  // @apply p-7 border border-secondary backdrop-blur-md bg-white/5;
  // @apply p-7 border border-secondary mt-20 mr-[4%] ml-[2%] w-[52%];
  border-color: #D2D0CE;

  &__title {
    @apply mb-4;
  }

  &__description {
    @apply mb-4;
  }

  &__button {
    @apply w-48;
  }
}
