.figure {
  @apply h-64 border border-secondary cursor-pointer relative overflow-hidden;
  
  &__image {
    @apply w-full max-w-full transition-[margin] duration-[400ms];
  }

  &__title {
    @apply w-full h-10 flex justify-center items-center gap-x-1.5 bg-primary text-white text-center px-2.5 my-0 absolute -bottom-10 opacity-0 transition-all duration-[400ms];
      // @include multiTransition("bottom 0.4s, opacity 0.1s");
  }
  
  &:hover {
    .figure__image {
      @apply -mt-5;
    }

    .figure__title {
      @apply opacity-100 bottom-0;
    }
  }
}
