.gallery {
  @apply container grid flex-wrap grid-cols-1 xs:grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-7 py-10 xs:first:border-b;

  &__responsive {
    @apply place-items-center place-content-between;
  }

  &__desktop {
    @apply justify-items-center;
  }
}
