@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button {
    @apply inline-block py-2 px-4 bg-primary text-white font-medium cursor-pointer duration-200;

    &:hover {
      @apply bg-primary-darken;
    }
  }
}


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply md:border-t-4 md:border-primary;
  color: rgb(var(--foreground-rgb));
  color: #333333;
}
