.introduction {
  @apply container py-16 md:pt-28 text-center;

  &__title {
    @apply text-neutral-400 text-[32px] md:text-[42px] font-bold leading-none tracking-tighter;

    &-name {
      @apply text-primary;
    }

    &-location {
      @apply text-stone-500;
    }
  }

  &__subheading {
    @apply mt-4 max-sm:hidden;

    &-quote {
      @apply text-lg font-medium text-neutral-400;
    }
  }
}

.services {
  @apply container flex flex-col md:flex-row md:gap-x-[4.5%] gap-y-5 sm:gap-y-8 md:text-center my-12;

  &__item {
    @apply grid grid-cols-[1fr] max-md:grid-cols-4 max-md:gap-x-5 md:gap-y-5 md:justify-items-center;

    &-title {
      @apply max-md:col-span-4 max-md:xs:col-start-2 max-md:xs:col-end-5 max-xs:overflow-hidden max-xs:flex max-xs:gap-x-4 max-md:items-center max-md:justify-between font-medium text-xl uppercase mb-2;
      &::before,
      &::after {
        @apply max-xs:content-[''] flex-1 relative inline-block w-full h-[1px] bg-zinc-800 align-middle;
      }
    }

    &-description {
      @apply max-md:col-start-2 max-md:col-end-5 text-sm;
    }

    &-image {
      @apply max-md:col-start-1 max-md:col-end-2 max-md:xs:row-start-1 max-md:xs:row-end-3 max-sm:self-center md:-order-1;
    }

    &-button {
      @apply button self-end max-md:hidden;
    }
  }
}

.clients {
  @apply container mx-auto px-4 text-center;

  &__title {
    @apply text-2xl font-semibold overflow-hidden py-7;

    &::before,
    &::after{
      content: "";
      @apply content-[''] relative inline-block w-1/2 h-[1px] bg-zinc-800 align-middle;
    }

    &:before{
      @apply right-4 -ml-[50%];
    }

    &:after{
      @apply left-4 -mr-[50%];
    }
  }

  &__logos {
    @apply flex flex-wrap justify-evenly gap-5;

    &-image {
      @apply max-h-8;
    }
  }
}

// science https://t.me/c/1223216375/68362
// chaapa  https://t.me/c/1223216375/68227
// qeustion https://t.me/c/1223216375/68377
