.header {
  @apply container max-md:max-w-none max-md:p-0 flex flex-wrap justify-between xs:flex-col md:flex-row md:justify-between items-center md:items-end text-left xs:text-center;

  &__home {
    @apply text-2xl xs:text-3xl md:text-4xl max-xs:ml-2.5 xs:my-2.5 md:mb-2;
  }

  &__menu {
    @apply flex flex-col gap-y-1 w-[50px] h-[50px] p-3.5 mb-px bg-primary xs:hidden;

    &-line {
      @apply h-1 w-full bg-white;
    }
  }

  &__nav {
    @apply w-full flex flex-col gap-y-px xs:flex-row sm:w-full md:w-auto overflow-hidden max-xs:h-0 peer-checked:h-[200px] transition-[height] ease-in-out duration-300;

    &-link {
      @apply flex max-xs:bg-primary max-xs:text-white xs:justify-center items-center md:items-end xs:grow md:grow-0 uppercase h-10 xs:h-[60px] md:h-[100px] md:pb-[14px] px-3 xs:px-4 text-lg relative;

      &.active {
        @apply xs:bg-primary xs:text-white;
      }
      
      &::after {
        content: "";
        // TODO transition for both height and color
        @apply -z-10 w-full h-0 absolute top-0 left-0 transition-[height] duration-300 ease-linear bg-cyan-50;
        // TODO find solution in sass
        background: lighten(#e16d65, 5%);
      }

      &:hover,
      &:active {
        @apply text-white;
        &::after {
          @apply h-full;
        }
      }
    }
  }
}
