.footer {
  @apply bg-gray-100 border-t border-zinc-200 mt-10 pt-7 pb-6 text-gray-500;

  &__stack {
    @apply flex flex-col;
    &-icon {
      @apply flex gap-x-2.5 mb-2.5;
    }
    // TODO semi bold
    &-right {}
  }

  &__social {
    @apply flex flex-col;
    // TODO unify with stack properties
    // TODO hover for social media icons
    &-icon {
      @apply flex gap-x-2.5 mt-4 [&>A]:bg-stone-300;
    }
  }
}
