.cv {
  @apply mx-auto px-4 sm:px-6 lg:px-8;
}

.cvcontact {
  @apply pt-10 flex;

  &__address {
    @apply not-italic flex-1;

    &-name {
      @apply font-semibold text-2xl;
    }
    
    &-title {
      @apply text-lg font-medium;
    }

    &-border {
      @apply border-t my-2;
    }

    &-location {
      @apply text-sm leading-tight mt-2 mb-4;
    }

    &-number {
      @apply text-sm;
      &--link {
        @apply text-primary font-semibold;
      }
    }

    &-email {
      @apply text-sm;
      &--link {
        @apply text-primary font-semibold;
      }
    }
  }

  &__thumbnail {
    @apply max-xs:hidden;
  }
}

.summary {
  &__text {
    @apply mb-4;
  }
}

.testimonials {
  &__comments {
    @apply grid grid-cols-2 gap-x-5 gap-y-7;
  }
}
