.testimonial {
  // @apply w-1/2 mb-6;

  &__message {
    @apply pl-2.5 border-l-4 border-primary;
    &::before {
      @apply content-[open-quote] leading-[0] align-text-bottom mr-1 text-5xl;
      color: #ccc;
    }

    &-text {
      &:first-child {
        @apply inline;
      }

      &:not(:last-child) {
        @apply mb-2.5;
      }
    }

    &::before {

    }
  }
  
  &__caption {
    @apply text-sm mt-2;
    color: #999;
  
    &-name {
      @apply text-primary
    }
  
    &-position {
    @apply not-italic;
    }
  }
}
